.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
}

.navigator {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

.logo {
    font-weight: bold;
}

/* Awesome Website */

.awesomeWebsite {
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
}

/* random info */

.randomInfo {
    text-align: center;
}

.randomTitle {
    margin-bottom: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
 max-width: 200px;   
}

.box {
    border: 5px solid #3882f6;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

/* Quote */

.quoteBlock {
    padding: 100px 10%;
}

.citation {
    display: block;   
    text-align: right;
}

/* sign up */

.signupBlock {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 900px;
}

.bottom {
    margin: 20px 15%;
    color: white;
}

.call {
    margin-bottom: 0px;
}

button {
    background-color: #3882f6;
    color: aliceblue;
    border-color: white;
    border-radius: 6px;
    padding: 5px 10px;
}

/* footer */

